<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dhanu</title>
</head>
<body><center>
    <h1 style="color:brown">This is the app2 function</h1>
    <h1 style="color:blue"><marquee>welcome to mr dhanu</marquee></h1>
    <h2 style="color:aqua"><a href="{% url 'app3:hemanth' %}">go to hemanth pages</a></h2>
    <h2 style="color:blueviolet"><a href="{% url 'bharath' %}">go to bharath pages</a></h2>
</center>
    
</body>
</html>